﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminTemplate.master.cs" Inherits="ATiempoWeb.Templates.AdminTemplate" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <h1>Panel de Control del Administrador - <span runat="server" id="spanNombre"></span></h1>
    <p runat="server" id="fechaIngreso"></p>
    <a href="cerrar.aspx">Cerrar Sesión</a>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>


    <asp:ContentPlaceHolder ID="scripts" runat="server"></asp:ContentPlaceHolder>
</body>
</html>
